{%extends 'base2.html'%}

{%load static%}
{% load mathfilters %}

{%load widget_tweaks%}
{%block title%}orders{%endblock%}

{%block username%}wael{%endblock%}

{%block brecumb%}
حالة مضافة من التطبيق
{%endblock%}

{%block content%}

<div class="row  my-2 m-0 justify-content-between m-auto w-100" style="direction: rtl;display: flex;justify-content: flex-start;">
    <div class="card mb-3 " >
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="/static/images/{{ data.image }}" class="card-img" alt="...">          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">الاسم:{{data.name}}</h5>
              <p class="card-text">التفاصيل:{{data.description}}</p>
              <p class="card-text"><small class="text-muted">المبلغ المستحق:{{data.amount}}</small></p>
              <p class="card-text"><small class="text-muted">المبلغ المدفوع: {{ data.paid }}</small></p>
            </div>
          </div>
        </div>
      </div>
</div>

{%endblock%}