{%extends 'base2.html'%}

{%load static%}
{%load widget_tweaks%}
{%block title%}orders{%endblock%}

{%block username%}wael{%endblock%}

{%block brecumb%}
ادارة التبرعات
{%endblock%}

{%block content%}

<div class="row  my-5 justify-content-between m-auto" style="direction: rtl;display: flex;justify-content: flex-end;">
  <div class="col-lg-5 col-md-5 col-sm-12 card mt-3" style="order: 2;">
    <div class="card-body">
      <h5 class="card-title">عرض  التبرعات المكتملة</h5>
      <p class="card-text">عرض جميع التبرعات</p>
      <a href="{%url 'get_done_tabraa'%}" class="btn btn-primary w-100">عرض</a>
    </div>
  </div>
  
  <div class="col-lg-5 col-md-5 col-sm-12 card mt-3" style="order: 1;">
    <div class="card-body">
      <h5 class="card-title">عرض التبرعات الغير مكتمله</h5>
      <p class="card-text">عرض جميع التبرعات</p>
      <a href="{%url 'get_not_done_tabraa'%}" class="btn btn-primary w-100">عرض</a>
    </div>
  </div>


{%endblock%}